<br>
<br>
<div class="main-div" *ngIf="registerForm">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="registerForm">
                <mat-form-field appearance="outline">
                    <mat-label>Firstname</mat-label>
                    <input matInput placeholder="Firstname">
                </mat-form-field>
                &nbsp;
                <mat-form-field appearance="outline">
                    <mat-label>Surname</mat-label>
                    <input matInput placeholder="Surname">
                </mat-form-field>
                &nbsp;
                <mat-form-field appearance="outline">
                    <mat-label>ID Number</mat-label>
                    <input matInput placeholder="ID Number">
                </mat-form-field>
            </form>
        </mat-card-content>
     </mat-card>
</div>

  
