<div [formGroup]="form">
    <mat-card>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label [attr.for]="dynamicForm.key"> {{ dynamicForm.label }} </mat-label>
                <div [ngSwitch]="dynamicForm.controlType">
                    <input 
                        *ngSwitchCase="'textbox'" 
                        matInput
                        [formControlName]="dynamicForm.key"
                        [id]="dynamicForm.key"
                        [type]="dynamicForm.type">
                    <mat-select 
                        *ngSwitchCase="'dropdown'"
                        [formControlName]="dynamicForm.key"
                        [id]="dynamicForm.key">
                        <mat-option 
                            *ngFor="let item of dynamicForm.options" 
                            [value]="item.value">
                            {{ item.key }}
                        </mat-option>
                    </mat-select>
                </div>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
</div>
