<div [formGroup]="form">
    <mat-form-field appearance="outline" class="formfield-full-width">
        <mat-label>{{ inputControl.label }}</mat-label>
        <div [ngSwitch]="inputControl.controlType">
            <input 
                *ngSwitchCase="'textbox'"
                matInput 
                [formControlName]="inputControl.key"
                [id]="inputControl.key"
                [type]="inputControl.type">
            <input 
                *ngSwitchCase="'datebox'"
                matInput 
                [formControlName]="inputControl.key"
                [id]="inputControl.key"
                [type]="inputControl.type"
                readonly>
            <mat-select 
                *ngSwitchCase="'dropdown'"
                [formControlName]="inputControl.key"
                [id]="inputControl.key">
                <mat-option *ngFor="let item of inputControl.options" [value]="item.value">{{ item.key }}</mat-option>
            </mat-select>
        </div>
    </mat-form-field>
</div>
